.App {
  text-align: center;
}

.optionValue {
  margin-right: 10%;
  margin-top: 5%;
}

.optionRemove {
  margin-left: 20px;
}

.optionUp {
  padding-left: 5px !important;
}

.cardTitle {
  font-weight: bold;
}

.fileUpload {
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
}

.dropzone {
  margin-top: 35px;
  margin-bottom: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}